<!-- <pre>
    {{userSearch + ' ' + dateSearch + ' ' + textSearch}}
    {{messages | json}}
</pre> -->
<div class="row">
    <div class="well">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="message in messages | adminMessages:dateSearch:textSearch:userSearch" data-ng-bind-html="'<strong>' + message.user + '</strong><br><div class=\'text-right\'>' + message.text + '</div>'">
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">
					<span class="glyphicon glyphicon-list"></span>
            </span>
            <input class="form-control" type="text" data-ng-model="textSearch" placeholder="Enter Search Text">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
            </span>
            <input class="form-control" type="text" data-ng-model="userSearch" placeholder="Enter Username">
        </div>
        <div class="input-group">
            <label class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
            </label>
            <input type="text" class="form-control" data-ng-model="dateSearch" name="date" bs-datepicker data-date-type="string" data-date-format="EEEE, MMM d, yyyy" data-model-date-format="EEE MMM dd yyyy">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success center-block" data-ng-click="userAdmin()">User Admin</button>
    </div>
</div>
