<div class="row">
    <div class="well">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="message in messages | today" data-ng-bind-html="'<strong>' + message.user + '</strong><br><div class=\'text-right\'>' + message.text + '</div>'">
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <form data-ng-submit="addMessage()">
        <div class="form-group">
            <textarea class="form-control" name="" data-ng-model="newMessageText"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </div>
    </form>
</div>
