<table>
    <thead>
        <tr>
            <th>Disabled</th>

            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Admin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in users">
            <td>
                <input type="checkbox" class="form-control center-block" data-ng-disabled="!user.edit" data-ng-model="user.disabled">
            </td>
            <td>
                <input type="email" class="form-control" data-ng-model="user.$id" disabled>
            </td>
            <td>
                <input type="password" class="form-control" disabled placeholder="********">
            </td>
            <td>
                <input type="text" class="form-control" data-ng-model="user.fName" data-ng-disabled="!user.edit">
            </td>
            <td>
                <input type="text" class="form-control" data-ng-model="user.lName" data-ng-disabled="!user.edit">
            </td>
            <td>
                <input type="checkbox" class="form-control center-block" data-ng-disabled="!user.edit" data-ng-model="user.admin">
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" data-ng-click="user.edit = (user.edit) ? false : true">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-success btn-xs" data-ng-show="user.edit" data-ng-click="updateUser(user)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>
        <tr>
            <form name="newUserForm" data-ng-submit="addUser()" novalidate>
                <td>
                    <input type="checkbox" class="form-control center-block" disabled data-ng-model="newUser.disabled">
                </td>
                <td>
                    <input type="email" placeholder="Email" class="form-control" data-ng-model="newUser.uName" required>
                </td>
                <td>
                    <input type="password" class="form-control" data-ng-model="newUser.password" required placeholder="Password">
                </td>
                <td>
                    <input type="text" placeholder="First Name" class="form-control" data-ng-model="newUser.fName" required>
                </td>
                <td>
                    <input type="text" placeholder="Last Name" class="form-control" data-ng-model="newUser.lName" required>
                </td>
                <td>
                    <input type="checkbox" class="form-control center-block" data-ng-model="newUser.admin">
                </td>
                <td>
                    <button type="submit" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
